mage: node:10.15

stages:
  - pages
  - document

before_script:
  - export DATABASE_URL=postgres://postgres:@postgres:5432/python-test-app
  - apt-get update -qy
  - apt-get -y upgrade
  - wget https://www.python.org/ftp/python/3.6.0/Python-3.6.0.tar.xz
  - tar Jxfv Python-3.6.0.tar.xz
  - cd Python-3.6.0
  - ./configure; make; make install
  - cd ../
  - wget https://bootstrap.pypa.io/get-pip.py
  - /usr/local/bin/python3.6 get-pip.py
  - pip install virtualenv
  - pip install virtualenvwrapper
  - virtualenv --no-site-packages -p /usr/local/bin/python3.6 py36
  - source py36/bin/activate
  - pip install wheel Cython numpy pandas
  - pip install -r requirements.txt


pages:
  stage: pages
  script:
    - wget https://www.python.org/ftp/python/3.5.0/Python-3.5.0.tar.xz
    - tar Jxfv Python-3.5.0.tar.xz
    - cd Python-3.5.0
    - ./configure; make; make install
    - cd ../
    - virtualenv --no-site-packages -p /usr/local/bin/python3.5 py35
    - source py35/bin/activate
    - pip install wheel Cython numpy
    - pip install -r requirements.txt

    - source py35/bin/activate
    - python setup.py bdist_wheel sdist
    - source py36/bin/activate
    - python setup.py bdist_wheel sdist
#    - mkdir -p public/bin
#    - cp dist/* public/bin
#    - ls public/bin

  artifacts:
    paths:
    - public

#  only:
#    - /^release\/.*$/


sphinx:
  stage: document
  when: manual
  script:
    - apt-get update -qq && apt-get install -y -qq pandoc openssh-client python-lxml
    - source py36/bin/activate
    - pip install -r doc/requirements.txt
    - pip install ipython pathlib
    - pip install -r requirements.txt
    - pip install git+https://github.com/ReNom-dev-team/ReNom
    - pip install -e .

    - eval $(ssh-agent -s)
    - echo "$RENOM_JP_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - '[[ -f /.dockerenv ]] && echo "$HOST_KEYS" > ~/.ssh/known_hosts'
    - chmod 644 ~/.ssh/known_hosts

    - cd doc
    - sh build.sh -l all
    - echo "$RENOM_JP_SSH_PRIVATE_KEY" > tmp
    - chmod 600 tmp

#    - scp -r -P "$RENOM_JP_PORT" -i tmp renom123@"$RENOM_JP_HOST":~/doc_script.zip doc_script.zip
    - unzip doc_script.zip
    - cd doc_script
    - pip install -r requirements.txt
    - cp -r ../_build/html renomimg
    - sh build.sh renomimg
#    - ssh -p "$RENOM_JP_PORT" renom123@"$RENOM_JP_HOST" rm -rf "$TEST_DEPLOY_DIR"/renomimg/*
#    - scp -r -P "$RENOM_JP_PORT" -i ../tmp out/renomimg/* renom123@"$RENOM_JP_HOST":"$TEST_DEPLOY_DIR"/renomimg

