image: node:10.1

before_script:
  - apt-get update
  - apt-get -y upgrade
  - wget https://www.python.org/ftp/python/3.5.0/Python-3.5.0.tar.xz
  - tar Jxfv Python-3.5.0.tar.xz
  - cd Python-3.5.0
  - ./configure; make; make install
  - cd ../
  - wget https://www.python.org/ftp/python/3.6.0/Python-3.6.0.tar.xz
  - tar Jxfv Python-3.6.0.tar.xz
  - cd Python-3.6.0
  - ./configure; make; make install
  - apt-get install -y virtualenv virtualenvwrapper
  - virtualenv --no-site-packages -p /usr/local/bin/python3.5 py35
  - virtualenv --no-site-packages -p /usr/local/bin/python3.6 py36
  - source py35/bin/activate
  - pip install -r requirements.txt
  - source py36/bin/activate
  - wget https://bootstrap.pypa.io/get-pip.py
  - python get-pip.py
  - pip install -r requirements.txt
  

pages:
  script:
    - source py35/bin/activate
    - python setup.py bdist_wheel sdist
    - source py36/bin/activate
    - python setup.py bdist_wheel sdist
    - mkdir -p public/bin
    - cp dist/* public/bin
    - ls public/bin

  artifacts:
    paths:
    - public

  only:
    - /^release\/.*$/
