
$max-width:1280px;

$header-height: 44px;

$header-color: #063662;
$panel-bg-color:#006ea1;
$panel-bg-color-hover:#0A7BB1;
$panel-height: 35px;


$font-size: 15pt;
$font-color: #ffffff;
$content-margin: 32px;

$content-header-color: #1e264b;
$footer-color: #1e264b;
$footer-copyright-color:#1d1547;


// Application header
$application-header-hight:40px;

$header-product-name-font-family: Open Sans Semibold;
$header-product-name-font-size: 14pt;

// header title
$header-title-font-family: Open Sans Regular;
$header-title-font-size:14pt;

//component style setteing
$component-margin-top: 20px;
$component-inner-horizontal-margin:15px;

// Content header
$content-top-header-hight:35px;
$content-top-header-width:600px;
$content-top-heder-horizonral-margin:25px;
$content-top-margin:10px;
$content-top-header-font-family: Open Sans light;
$content-top-header-font-size: 10.5pt;

// contents Height Width
$content-dashboard-height: 320px;
$content-dashboard-width: 600px;

$content-dashboard-modelmap-width:400px;

$content-detail-height:240px;
$content-prediction-height:535px;
$content-taglist-hegiht:160px;

$content-bg-color: #ffffff;
$content-border-color: #cccccc;
$content-inner-header-font-family: Open Sans light;
$content-inner-header-font-size: 10pt;

$content-inner-box-font-family: Open Sans light;
$content-inner-box-font-size: 9pt;

$content-modellist-font-family: Open Sans Semibold;
$content-modellist-font-size: 9pt;

$content-taglist-tagbox-font-family: Open Sans Regular;
$content-taglist-tagbox-font-colot:#666666;
$content-taglist-tagbox-font-size:12pt;

$content-top-padding:30px;
$content-bottom-padding:30px;
$content-large-padding:45px;
$content-horizontal-padding:35px;

$content-parts-margin:15px;

// Figure
$content-figure-font-famly: Open Sans light;
$content-figure-font-color:#666666;
$content-figure-font-size: 8pt;


//　algorithm color
$grape: #903e84;
$nightblue: #423885;
$lightblue: #136eab;
$green: #009453;
$lightgreen: #93b447;
$yellow: #dfd238;

// Model status colors
$status-running: #0099ce;
$status-reserve: #cccccc;
