
$max-width:1280px;

$header-height: 44px;

$header-color: #063662;
$panel-bg-color:#006ea1;
$panel-bg-color-hover:#0A7BB1;
$panel-height: 40px;


$font-size: 15pt;
$font-color: #ffffff;
$content-margin: 32px;

$content-header-color: #1e264b;
$footer-color: #1e264b;
$footer-copyright-color:#1d1547;


// Application header
$application-header-hight:50px;

$header-product-name-font-family: Open Sans Semibold;
$header-product-name-font-size: 20pt;

// header title
$header-title-font-family: Open Sans Regular;
$header-title-font-size:20pt;

//component style setteing
$component-margin-top: 20px;
$component-inner-horizontal-margin:15px;

// Content header
$content-top-header-hight:40px;
$content-top-header-width:600px;
$content-top-heder-horizonral-margin:25px;
$content-top-margin:10px;
$content-top-header-font-family: Open Sans Regular;
$content-top-header-font-size: 14pt;

// contents Height Width
$content-dashboard-height: 320px;
$content-dashboard-width: 600px;
$content-detail-height:240px;
$content-prediction-height:535px;
$content-taglist-hegiht:160px;

$content-bg-color: #ffffff;
$content-border-color: #cccccc;
$content-inner-header-font-family: Open Sans Regular;
$content-inner-header-font-size: 13pt;

$content-inner-box-font-family: Open Sans Regular;
$content-inner-box-font-size: 12pt;

$content-taglist-tagbox-font-family: Open Sans Semibold;
$content-taglist-tagbox-font-colot:#666666;
$content-taglist-tagbox-font-size:12pt;

$content-horizontal-padding:35px;
$content-top-padding:30px;

$content-parts-margin:15px;

// Figure
$content-figure-font-famly: Open Sans light;
$content-figure-font-size: 9pt;
