
$max-width:1280px;
$modal-content-width: 0.8;
$modal-content-height:535px;

$header-height: 44px;

$header-color: #063662;
$panel-bg-color:#006ea1;
$panel-bg-color-hover:#0A7BB1;
$tooltips-color:#02294C;
$body-color:#f3f3f1;
$panel-height: 35px;

$tab-bg-color:#063662;
$tab-figure-font-size:11pt;
$font-color-label:#666666;

// button color
$push-button:#006ea1;
$push-cancel:#CCCCCC;
$push-button-size:25px;
$push-button-font-size:10.5pt;

$font-size: 15pt;
$font-color: #ffffff;
$content-margin: 32px;

$content-header-color: #1e264b;
$footer-color: #063662;
$footer-copyright-color:#02294C;


// Application header
$application-header-hight:40px;

$header-product-name-font-family: Open Sans Regular;
$header-product-name-font-size: 15pt;

// header title
$header-title-font-family: Open Sans Regular;
$header-title-font-size:15pt;

//component style setteing
$component-margin-top: 20px;
$component-inner-horizontal-margin:15px;

// Content header
$content-top-header-hight:35px;
$content-top-header-width:600px;
$content-top-heder-horizonral-margin:25px;
$content-top-margin:10px;
$content-top-header-font-family: Open Sans light;
$content-top-header-font-size: 12pt;

// contents Height Width
$content-dashboard-height: 320px;
$content-dashboard-width: 600px;

$content-dashboard-modelmap-width:400px;

$content-detail-height:240px;
$content-prediction-height:570px;
$content-taglist-hegiht:160px;

$content-bg-color: #ffffff;
$content-border-color: #ffffff;
$content-inner-header-font-family: Open Sans light;
$content-inner-header-font-size: 12pt;

$content-inner-box-font-family: Open Sans light;
$content-inner-box-font-size: 11pt;

$content-modellist-font-family: Open Sans Semibold;
$content-modellist-font-size: 11pt;

$content-setting-modal-font-color:#666666;
$content-setting-modal-error-color:#DC3545;

$content-taglist-tagbox-font-family: Open Sans Regular;
$content-taglist-tagbox-font-color:#666666;
$content-taglist-tagbox-font-size:11pt;

$content-top-padding:30px;
$content-bottom-padding:25px;
$content-large-padding:45px;
$content-horizontal-padding:35px;

$content-parts-margin:15px;

// Figure
$content-figure-font-famly: Open Sans light;
$content-figure-font-color:#666666;
$content-figure-font-size: 8pt;

$content-footer-margin-top:20px;

// algorithm color
$grape: #903e84;
$nightblue: #423885;
$lightblue: #136eab;
$green: #009453;
$lightgreen: #93b447;
$yellow: #dfd238;

$train-color:#0762ad;
$validation-color:#ef8200;

// Model status colors
$status-running: #0099ce;
$status-reserve: #cccccc;



::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: $body-color;
  border: none;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 6px;
  box-shadow: none;
}
